@{
    ViewData["Title"] = "Game Character Tracker";
}

<div class="jumbotron jumbotron-fluid full-width" id="bg">
    <div class="text-white">
        <div class="text-center">
            <h1 class="display-4">Game Character Tracker</h1>
                <p>View important info about your characters</p>
        </div>
    </div>
</div>


